<html>
<head>
<title>Naver</title>
</head>

<body>
	<h1>HelloWorld</h1>
	<img src='https://i1.wp.com/www.venturesquare.net/wp-content/uploads/2015/01/naver.png' style="width:200px;height:200px"><br>
	<h4> name : {{name}}</h4>
	<h4> age : {{age}}</h4>
	<h4> address : {{address}}</h4>
	<h4> intro : {{intro}}</h4>

</body>
</html>